@model IEnumerable<Post>
@inject LanguageService language
@{
}

<style>

    body {
        background-color: #4C2484;
    }

    label, p, h2, h5 {
        color: white;
    }

    button {
        background-color: white;
        color: #4C2484;
    }

    a {
        color: white;
    }

    .hidden {
        display: none;
    }


</style>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <b>+</b> @language.Getkey("Create new post")
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="createpost">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@language.Getkey("Create new post")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <textarea class="form-control" name="Content" placeholder=@language.Getkey("Type content")></textarea>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@language.Getkey("Close")</button>
                    <button type="submit" class="btn btn-primary">@language.Getkey("Create new post")</button>
            </div>
        </div>
        </form>
    </div>
</div>

<table class="table table-striped text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@language.Getkey("Content")</th>
            <th scope="col">@language.Getkey("Comments")</th>
            <th scope="col">@language.Getkey("Created At")</th>
            <th scope="col">@language.Getkey("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Post p in Model)
        {
            <tr class=" text-white">
                <th scope="row">@p.Id</th>
                <td>@p.Content</td>
                <td>@p.Comments.Count()</td>
                <td>@p.CreateAt</td>
                <td>
                    <img data-bs-toggle="modal" data-bs-target="#updateModal" width="20px" height="20px" src="https://cdn-icons-png.flaticon.com/512/84/84380.png" />
                    <form asp-route-postId="@p.Id" method="post" asp-action="deletepost">
                        <button type="submit">
                            <img width="20px" height="20px" src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" />

                        </button>

                    </form>
                    </td>

                <!-- Modal -->
                <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form asp-route-postId="@p" method="post" asp-action="updatepost">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Update Post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <input name="UserId" class="hidden"  asp-for="@p.UserId">
                                <input name="Id" class="hidden" asp-for="@p.Id">
                                <div class="modal-body">
                                    <textarea class="form-control" asp-for="@p.Content" name="Content" placeholder=@language.Getkey("Type content")></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@language.Getkey("Close")</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tr>

        }
    </tbody>
</table>
