@model IEnumerable<Post>
@inject LanguageService language
@{
}

<h2>@language.Getkey("Search result")</h2>

<p>@language.Getkey("Result found") @Model.Count()</p>

@if(Model.Any()){

    @foreach (Post p in Model)
    {
        <div class="card shadow" style="width: 38rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    @language.Getkey("posted by")
                </h6>
                <h5 class="card-title">@p.User.NormalizedUserName</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    @language.Getkey("at") : @p.CreateAt
                </h6> <hr>
                <p class="card-text">@p.Content</p>
                <a href="#" class="card-link">
                    <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/512/126/126473.png" />
                    23
                </a>
                <a asp-route-postId="@p.Id" asp-controller="PostManagement" asp-action="PostDetails" class="card-link">
                    <img width="30px" height="30px" src="https://thumbs.dreamstime.com/b/comment-icon-vector-illustration-white-background-127593296.jpg" />
                    @p.Comments.Count
                </a>
            </div>
        </div>
        <br />

    }
}
