@model IEnumerable<AspNetUser>
@inject LanguageService language
@{
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <b>+</b> @language.Getkey("Create new user")
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="usermanagement/createUser">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@language.Getkey("Create new user")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="email" class="form-control" name="Email" placeholder="Email"/>
                </div><br />
                <div>
                        <input type="password" class="form-control" name="PasswordHash" placeholder=@language.Getkey("Type content")>
                    </div><br />
                    <div>
                        <select name="ConcurrencyStamp" class="form-control">
                            <option selected disabled>@language.Getkey("Select role")</option>
                            <option value="68bdf9cb-4866-444d-8cf5-56d54170dc81">Admin</option>
                            <option value="544ac087-b472-4914-8104-a55bd381d0e9">User</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@language.Getkey("Close")</button>
                    <button type="submit" class="btn btn-primary">@language.Getkey("Create")</button>
            </div>
        </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@language.Getkey("Username")</th>
            <th scope="col">Email</th>
            <th scope="col">@language.Getkey("Create At")</th>
            <th scope="col">@language.Getkey("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AspNetUser p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@p.UserName</td>
                <td>@p.Email</td>
                <td>24 JAN 2023</td>
                <td>
                    <img width="20px" height="20px" src="https://cdn-icons-png.flaticon.com/512/84/84380.png" />
                    <form asp-route-userId="@p.Id" method="post"asp-action="deleteUser">
                        <button type="submit">
                            <img width="20px" height="20px" src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" />


                        </button>

                    </form>
                    </td>
            </tr>

        }
    </tbody>
</table>

