@page
@using RSCAnderlechtF.Models;
@model LoginModel
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("log in");
}

<style>
  body {
    background-color: #4C2484;
  }
  h1, h2, label, p {
    color: white;
  }
  button#login-submit {
    background-color: white;
    color: #4C2484;
  }
  a {
    color: white;
  }
</style>





<h1 class="text-center">@ViewData["Title"]</h1>
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">@language.Getkey("we are happy to have you back!")</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@language.Getkey("log in")</button>
                </div>
                <div class="text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@language.Getkey("forgot your password?")</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@language.Getkey("register")</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@language.Getkey("resend email confirmation")</a>
                    </p>
                </div>
            </form>
        </section>
        <div style="text-align:center;margin-left:auto;margin-right:auto;">
            <img src="/RSC_Anderlecht_logo.png" alt="Logo" style="width:300px;display:block;margin:auto;">
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
