@page
@model LogoutModel
@using RSCAnderlechtF.Models;
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("logout");
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@language.Getkey("Click here to Logout")</button>
            </form>
        }
        else
        {
            <p>@language.Getkey("You have successfully logged out of the application.")</p>
        }
    }
</header>
