@page
@using RSCAnderlechtF.Models;
@model RegisterModel
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("register");
}

<style>
     body {
        background-color: #4C2484;
    }

    h2, h2, p {
        color:white;
    }

   label{
        color: #4C2484;
    }

    button#registerSubmit {
        background-color: white;
        color: #4C2484;
    }

    a {
        color: white;
    }

    .form-floating {
        margin-bottom: 20px;
    }
</style>

<h1>@language.Getkey("create a new account")</h1>
<div class="d-flex align-items-center">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>@language.Getkey("become a member of the rsc anderlecht forum and keep up to date with all the news!")</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label>Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label>Mot de passe</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label>Confirmer le mot de passe</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@language.Getkey("register")</button>
        </form>
    </div>
    <div class="mx-3"></div>
    <div class="col-md-4 text-center">
        <p class="mb-3">@language.Getkey("The RSC Anderlecht forum was created to bring together fans of the club. Keep up to date with the latest rumours, but also with the location of rallies and the planning of tifos. Also become a member on the official website.")</p>
        <p><strong>@language.Getkey("be") <a href="https://www.rsca.be/fr/memberships">MEMBERSHIP</a></strong> !</p>
        <img src="/anderlecht1.gif" alt="GIF">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
