@page
@model RegisterConfirmationModel
@using RSCAnderlechtF.Models;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Register confirmation");
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            @language.Getkey("Check your mailbox, an email has been sent to you to confirm your account") (Waldo Heudens : <a href="https://mailtrap.io/inboxes/2024236/messages">Connect to Mailtrap</a> with email ajari.nawfel@hotmail.com & Password : (zie Teams)</p>
           
            <p><a id="confirm-link" href="@Model.EmailConfirmationUrl">@language.Getkey("Click here to confirm directly your account").</a>
        </p>
    }
    else
    {
<p>
        @language.Getkey("Please check your email to confirm your account")
</p>
    }
}

