@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject LanguageService language



<h1>@language.Getkey("List of roles")</h1>
<a asp-action="CreateRole">@language.Getkey("Create")</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>@language.Getkey("Name")</td>
        </tr>
    </thead>
</table>
<tbody>
    @foreach (var role in Model ?? Enumerable.Empty<Microsoft.AspNetCore.Identity.IdentityRole>())
    {
        <tr>
            <td>@(role.Id ?? "N/A")</td>
            <td>@(role.Name ?? "N/A")</td>
        </tr>
    }
</tbody>
</table>